aniso8601==4.1.0
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
beautifulsoup4==4.7.1
behave==1.2.6
certifi==2018.11.29
Click==7.0
decorator==4.3.0
Flask==1.0.2
Flask-JWT==0.3.2
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
parse==1.9.0
parse-type==0.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.8.1
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
ptyprocess==0.6.0
py==1.7.0
Pygments==2.3.1
PyJWT==1.4.2
pytest==4.1.0
pytz==2018.9
selenium==3.141.0
six==1.12.0
soupsieve==1.7
SQLAlchemy==1.2.16
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
